$main-color: #5D93AB;
$bar-color:rgba(93, 147, 171, 0.70);
$menu-color:rgb(2, 139, 93);
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$hamburger-color: #51a2c5;

$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
$mint-gradient:linear-gradient(90deg, rgba(0,0,0,0.6838936258096988) 0%, rgba(255,255,255,0.5942577714679622) 47%, rgba(0,0,0,0.6782913849133403) 100%);
$purple-gradient: linear-gradient(45deg, rgba(2, 2, 2, 0.75), rgba(68, 0, 255, 0.75));
$mint-gradient-solid: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(93,147,171,1) 10%);
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);