@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
}

.section-padding {
    padding-top: 5em;

}

// NAV

.burger-btn {
    position: fixed;
    top: 60px;
    right: 8px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 100; // umożliwia widoczność menu zawsze na wierzchu 

    &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 8px;
    }

    &:hover {

        .burger-btn__bars::after,
        .burger-btn__bars::before {
            width: 100%;
        }
    }

    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars,
    &__bars::after,
    &__bars::before {
        @include burgerBtn;
    }

    &__bars {
        width: 100%;

        &::after {
            top: 13px;
            width: 60%;
        }

        &::before {
            top: 27px;
            width: 30%;
            transition-delay: .1s;
        }
    }
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: $main-color;
    z-index: 50;

    &--active {
        transform: translateX(0);
    }

    &__item {
        position: relative;
        display: block;
        margin: 0.5em 0;
        padding: 0.5em 2em;
        font-size: 2.8rem;
        color: $pure-white;
        text-decoration: none;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            transform: scaleY(0);
            background-color: $pure-white;
            transition: transform .2s;
            content: '';
        }

        &:hover::before {
            transform: scaleY(1)
        }
    }
}

@keyframes navItemsAnimation {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

.nav-items-animation {
    animation: navItemsAnimation 1s both;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
    background-color: $main-color;
}

.login {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    min-width: 380px;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bar-color;
    z-index: 40;
    transition: background .3s;

    &:hover {
        background-color: $main-color;
    }

    &__box {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1400px;


        &-brand {
            margin-left: .5em;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: $light-white;
        }

        &-icon {
            margin-right: 0.5em;
            font-size: 3rem;
            padding: .5em;
            color: $light-white;
        }

        &-loging {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            justify-content: flex-end;

            &-link {
                padding: 1em;
                font-size: 1.6rem;
                text-decoration: none;
                text-transform: uppercase;
                color: $light-white;

                &:hover {
                    color: $dark;
                }

            }
        }

    }

}

//  OFFERS
.offers {




    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 2em;
            width: 50%;


            &-item {
                width: 100%;

            }

            .figure {
                position: absolute;
                height: 40px;
                width: 100%;
                max-width: 1200px;
                background-color: $main-color;
                z-index: -10;



                &::before,
                &::after {
                    position: absolute;
                    background-color: $main-color;
                    width: 400px;
                    height: 100%;
                    content: '';



                }

                &::before {
                    left: -20%;
                }

                &::after {
                    right: -20%;
                }
            }

            &-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                width: 20%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                cursor: pointer;
                color: $light-white;
                text-shadow: 1px 1px 3px#000;


            }

            .arrow-left {
                left: 0;
            }

            .arrow-right {
                right: 0;
            }
        }

        &-buy {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3em;

            p {
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: bold;
                margin: 1em;
                font-family: 'Quicksand', sans-serif;
                letter-spacing: .1rem;
            }

            button {
                background: none;
                border: none;
                
                text-transform: uppercase;
                font-family: 'Quicksand', sans-serif;
                font-size: 1.8rem;
                cursor: pointer;
                color: $pure-white;

                &:hover {
                    color: $dark;
                }
            }

            &-btn {
                background-color: $main-color;
                padding: 0.5em 1em;
                border-radius: 5px;

            }
        }

        &-bookmarks {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;


            &-btn {
                margin: .5em .2em;




                button {
                    padding: 0.5em 1em;
                    background: none;
                    border: none;
                    text-transform: uppercase;
                    // font-weight: bold;
                    font-family: 'Quicksand', sans-serif;
                    cursor: pointer;
                    letter-spacing: .1rem;
                    font-size: 1.2rem;

                    &:focus {
                        background-color: $main-color;
                        // color: $pure-white;
                    }
                }
            }

            .activeBtn {
                background-color: $main-color;
            }
        }

        &-textArea {
            position: relative;
            margin-top: 2em;
            width: 90%;
            max-width: 1000px;
            height: 400px;


            &-item {
                display: none;
                text-align: center;

                span {
                    display: block;
                    margin-top: 2em;
                    font-weight: bold;
                    text-align: center;
                }


            }

            .activeDesc {
                display: block;
            }
        }


    }
}



// FOOTER
.footer {

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        height: 8vh;
        width: 100%;

        &-text {
            font-size: 2rem;
            color: $light-white;
        }
    }

}





// ==========================
//         MEDIA   
// ==========================
@media(min-width: 576px) {
    .login {
        &__box {
            &-brand {
                margin-left: 1em;
            }
        }
    }

    .offers {
        &__box {
            &-img {
                min-height: 350px;
                max-height: 350px;
                min-width: 300px;
                max-width: 300px;





                .figure {
                    height: 80px;
                }

            }

            &-buy {
                p {
                    font-size: 2.2rem;
                }

                button {
                    font-size: 2.2rem;
                }
            }

            &-bookmarks {
                &-btn {

                    button {
                        font-size: 1.8rem;
                    }
                }

            }
        }
    }

    .footer {
        &__box {
            height: 10vh;

            &-text {
                font-size: 2.2rem;
            }
        }
    }
}


@media(min-width: 768px) {
    .login {
        &__box {
            &-brand {
                font-size: 1.8rem;
            }
        }
    }

    .section-padding {
        padding-top: 8em;
    }

    .offers {
        &__box {
            &-img {
                min-height: 450px;
                max-height: 450px;
                min-width: 350px;
                max-width: 350px;

                .figure {
                    height: 100px;
                }
            }

            &-textArea {
                &-item {
                    font-size: 1.8rem;
                }
            }

        }

        .section-paragraf {
            margin-top: 4em;
        }
    }
}


@media(min-width: 992px) {
    .burger-btn {
        top: 90px;
        right: 25px;
    }

    .login {
        height: 70px;

        &__box {

            &-brand {
                font-size: 2.2rem;
            }

            &-icon {
                font-size: 3.3rem;
                margin-right: 1em;
            }
        }
    }

    .nav {
        &__item {
            font-size: 4.8rem;
        }
    }

    .offers {
        &__box {
            &-img {
                min-height: 550px;
                max-height: 550px;
                min-width: 400px;
                max-width: 400px;

                .figure {
                    height: 120px;

                    &::before,
                    &::after {
                        width: 900px
                    }
                }

                &-arrow {
                    width: 10%;
                }




            }

            &-textArea {
                margin-top: 4em;
            }
        }
    }

}

@media(min-width: 1100px) {
    .burger-btn {

        &__box {
            right: 0;
            width: 70px;
        }

        &__bars {
            height: 5px;

            &::after {
                top: 17px;
                height: 5px;
            }

            &::before {
                top: 33px;
                height: 5px;
            }
        }
    }

    .offers {
        &__box {
            &-img {
                min-height: 600px;
                max-height: 600px;
                min-width: 450px;
                max-width: 450px;
            }
        }
    }
}